@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  max-width: 1600px;
}
.bg-primary {
  background-color: rgba(26, 11, 46, 1);
}
.bg-secondary {
  background-color: rgba(35, 14, 61, 1);
}
.bg-box {
  background-color: rgba(53, 17, 101, 0.4);
}
.bg-card {
  background-color: rgba(37, 13, 68, 1);
}
.text-primary {
  color: rgba(255, 255, 255, 1);
}

/* nav design */
nav {
  border-bottom: 1px solid rgba(65, 37, 103, 1);
  max-width: 1600px;
}
.nav-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px auto;
}
.nav-container > h1 > span {
  background: linear-gradient(
    10deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1),
    rgba(255, 255, 255, 1)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-menu > ul {
  display: flex;
  gap: 32px;
}
.nav-menu > ul {
  list-style: none;
}
.nav-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-size: 1rem;
  font-weight: 500;
}
.nav-btn {
  width: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 12px 16px;
  border: none;
  border-radius: 10000px;
  background: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  transition: transform 0.25s ease;
}
.nav-btn:hover {
  transform: scale(1.3) translateY(-4px);
}
.nav-btn > p {
  color: rgba(255, 255, 255, 1);
  font-size: 1rem;
  font-weight: 600;
}

.hamburger-icon {
  display: none;
}

/* banner design */
.banner-container {
  background-image: url(./assets/hero-bg.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 760px;
  position: relative;
}
.banner-holder {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-content {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 101px;
}

.micro-back {
  width: 350px;
  height: 350px;
  position: relative;
  z-index: 1;
}
.microphone {
  position: absolute;
  z-index: 2;
  top: 25%;
  right: 45.9%;
  transition: transform 0.5s ease-in;
}
.microphone:hover {
  transform: scale(1.15);
}

.new {
  width: 75px;
  padding: 8px 16px;
  background-color: rgba(0, 255, 136, 1);
  box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
  border: none;
  border-radius: 1000px;
  color: rgba(26, 11, 46, 1);
  font-size: 1.2rem;
  font-weight: 600;
  position: absolute;
  z-index: 3;
  top: 17%;
  right: 39%;
  animation: badge 2.5s infinite ease-in-out;
}
@keyframes badge {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.banner-description {
  margin-top: 40px;
  text-align: center;
}
.banner-heading {
  font-size: 3.75rem;
  font-weight: 800;
  margin-bottom: 8px;
}
.banner-sub-heading {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 24px;
}
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.btn1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 12px 20px;
  border: none;
  border-radius: 10000px;
  background: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  transition: transform 0.25s ease;
}
.btn1:hover {
  transform: scale(1.2) translateY(-4px);
}
.btn1 > p {
  color: rgba(255, 255, 255, 1);
  font-size: 1rem;
  font-weight: 600;
}

.btn2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 12px 20px;
  background-color: transparent;
  border: 1px solid rgba(0, 255, 136, 1);
  border-radius: 10000px;
  transition: transform 0.25s ease;
}
.btn2:hover {
  transform: scale(1.2) translateY(-4px);
}

.btn2 > p {
  color: rgba(0, 255, 136, 1);
  font-size: 1rem;
  font-weight: 600;
}
/* podcast section */
.podcast-container {
  width: 80%;
  margin: 50px auto 120px;
  text-align: center;
}
.podcast-heading-box {
  margin-bottom: 160px;
}
.podcast-heading {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 16px;
}
.podcast-sub-heading1,
.podcast-sub-heading2 {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 48px;
}

.podcast-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat (1, 160px);
  gap: 80px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-num {
  color: rgba(0, 255, 136, 1);
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 16px;
}
.card-description {
  font-size: 1rem;
  font-weight: 400;
}

/* why choose TeamWave */
.team-container {
  width: 80%;
  max-width: 1200px;
  margin: 0px auto;
  padding: 120px 0;
}
.team-container > h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
}
.team-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 270px);
  gap: 30px;
}
.cards {
  padding: 40px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.5 ease;
}
.cards:hover {
  transform: scale(1.05) translateY(-4px);
}
.cards > img {
  height: 60px;
  width: 60px;
}
.cards > h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 16px 0px;
}
.cards > p,
.host-description > p {
  color: rgba(255, 255, 255, 1);
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  mix-blend-mode: screen;
}
.card1 {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}
.card2 {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}
.card3 {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}
.card4 {
  grid-column: 1 / span 2;
  grid-row: 3 / span 1;
}
.card5 {
  grid-column: 3 / span 1;
  grid-row: 3 / span 1;
}
/* featured episode section */
.feature-container {
  width: 80%;
  max-width: 1440px;
  margin: 120px auto;
}
.feature-container > h1,
.host-container > h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 40px;
}
.episode-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.episode-card {
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.5s ease;
}
.episode-card:hover {
  transform: scale(1.1) translateY(-4px);
}
.youtube {
  position: relative;
}
.youtube-play {
  position: absolute;
  inset: 0;
  cursor: pointer;
}

.play-holder {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 33%;
  left: 40%;
}
.play {
  width: 50px;
  height: 50px;
}
#video-1:target + .youtube-play,
#video-2:target + .youtube-play,
#video-3:target + .youtube-play {
  display: none;
}

.episode-description {
  padding: 24px;
}

.episode-description > h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 12px;
  text-align: center;
}

.episode-description > p {
  color: rgba(255, 255, 255, 1);
  font-size: 1rem;
  font-weight: 400;
  mix-blend-mode: screen;
  margin-bottom: 12px;
}
.time-container {
  display: flex;
  gap: 6px;
}
.time-container > img {
  width: 20px;
}
.mins {
  font-size: 1rem;
  font-weight: 600px;
  color: rgba(0, 255, 136, 1);
}

/* host section */
.host-container {
  width: 80%;
  max-width: 1200px;
  max-width: 1440px;
  margin: 0px auto 120px;
}
.host-card {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 40px;
  border-radius: 40px;
}
.host-description > h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 16px;
}
.host-description > p {
  margin-bottom: 16px;
}
.contact-icons {
  display: flex;
  gap: 8px;
}
.img-holder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(83, 60, 114, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* footer section */
.footer-container {
  width: 100%;
  max-width: 1600px;
  background-image: url(./assets/footer-bg.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.footer-info {
  padding: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-info > h1 {
  font-size: 3.75rem;
  font-weight: 800;
  margin-bottom: 32px;
}
.footer-info > h1 > span {
  background: linear-gradient(
    10deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1),
    rgba(255, 255, 255, 1)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer-icons-holder {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 40px;
  margin-bottom: 32px;
}
.footer-icon {
  display: flex;
  gap: 8px;
  transition:
    transform 0.25s ease,
    opacity 0.25s ease;
}

.footer-icon:hover {
  transform: translateY(-4px);
  opacity: 0.85;
}
.footer-icon > img {
  width: 24px;
}
.footer-icon > p {
  font-size: 1rem;
  font-weight: 500;
  white-space: nowrap;
}

/* media query for small device */
@media screen and (max-width: 576px) {
  /* navbar */
  .nav-container {
    width: 90%;
  }
  .hamburger-icon {
    display: inline;
  }
  .nav-menu {
    display: none;
  }
  .nav-btn {
    display: none;
  }
  /* banner */
  .banner-container {
    height: 370px;
    align-items: start;
  }
  .banner-holder {
    width: 100%;
    display: flex;
    justify-content: center;
    /* padding:40px 20px; */
  }
  .banner-content {
    max-width: 400px;
    margin-top: 0px;
    margin: 40px 20px;
    align-items: top;
  }

  .micro-back {
    width: 200px;
    height: 200px;
    position: relative;
    z-index: 1;
  }

  .microphone {
    max-width: 70px;
    position: absolute;
    z-index: 2;
    top: 25%;
    right: 42.3%;
  }
  .new {
    top: 13%;
    right: 23%;
  }
  .banner-description {
    margin-top: 24px;
  }
  .banner-heading {
    font-size: 2.5rem;
  }
  /* podcast section */
  .podcast-container {
    width: 100%;
    padding: 40px 20px;
    margin: 40px 0px 0px 0px;
    border: 0px solid red;
  }
  .podcast-heading-box {
    margin-bottom: 80px;
  }
  .podcast-sub-heading1 {
    margin-bottom: 16px;
  }
  .podcast-sub-heading1 br {
    display: none;
  }
  .podcast-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .podcast-heading {
    font-size: 2rem;
  }
  .podcast-heading-box {
    margin-bottom: 40px;
  }

  /* why choose TeamWave */
  .team-container {
    width: 100%;
    padding: 40px 20px;
  }
  .team-container > h1 {
    font-size: 2rem;
    margin-bottom: 16px;
  }
  .team-card-container,
  .episode-card-container {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: repeat(1, 330px); */
    gap: 16px;
    justify-items: center;
  }
  .cards,
  .host-card {
    padding: 24px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .card1,
  .card2,
  .card3,
  .card4,
  .card5 {
    grid-column: auto;
    grid-row: auto;
  }
  .cards > h2 {
    font-size: 1.37rem;
  }
  /* featured section */
  .feature-container {
    width: 100%;
    padding: 40px 20px;
    margin: 0px auto;
  }
  .feature-container > h1,
  .host-container > h1 {
    font-size: 2rem;
    margin-bottom: 24px;
  }

  .episode-description {
    width: 100%;
    /* max-width: 380px; */
    padding: 16px;
    height: 170px;
    box-sizing: border-box;
  }
  .episode-description > h1 {
    font-size: 1.25rem;
  }
  /* host section */
  .host-container {
    width: 100%;
    padding: 0px 20px 40px;
  }
  .host-card {
    gap: 16px;
  }
  .host-description {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* footer section */
  .footer-container {
    background-size: cover;
    min-height: 250px;
  }
  .footer-info {
    padding: 40px 20px;
  }
  .footer-info > h1 {
    font-size: 2.5rem;
    margin-bottom: 24px;
  }
  .footer-icons-holder {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 21px;
    margin-bottom: 24px;
  }
}

/* media query for medium device */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .nav-menu > ul {
    gap: 12px;
  }
  .banner-content {
    height: 620px;
  }
  .microphone {
    position: absolute;
    z-index: 2;
    top: 28%;
    right: 42.1%;
  }
  .new {
    top: 20%;
    right: 31%;
  }
  /* podcast section */
  .podcast-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
  .podcast-container {
    width: 80%;
    margin: 40px auto;
  }
  .podcast-heading-box {
    margin-bottom: 10px;
  }
  .podcast-sub-heading1 {
    margin-bottom: 18px;
    br {
      display: none;
    }
  }
  /* why choose teamWave */
  .team-container > h1,
  .feature-container > h1 {
    font-size: 2.5rem;
    margin-bottom: 24px;
  }
  .team-card-container,
  .episode-card-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    justify-items: center;
  }
  .cards {
    width: 100%;
    padding: 24px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .card1,
  .card2,
  .card3,
  .card4,
  .card5 {
    grid-column: auto;
    grid-row: auto;
  }
  .cards > h2 {
    font-size: 1.37rem;
  }
  /* featured section */
  .feature-container {
    width: 80%;
    margin: 80px auto;
  }

  .episode-card-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    justify-items: center;
  }

  .episode-description {
    width: 100%;
  }
  .episode-description > h1 {
    font-size: 1.5rem;
  }
}
