@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  max-width: 1600px;
}
.bg-primary {
  background-color: rgba(26, 11, 46, 1);
}
.bg-secondary {
  background-color: rgba(35, 14, 61, 1);
}
.bg-box {
  background-color: rgba(53, 17, 101, 0.4);
}
.bg-card {
  background-color: rgba(37, 13, 68, 1);
}
.text-primary {
  color: rgba(255, 255, 255, 1);
}

/* nav design */
nav {
  border-bottom: 1px solid rgba(65, 37, 103, 1);
}
.nav-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px auto;
}
.tech-img {
  max-width: 219px;
}
.nav-menu > ul {
  display: flex;
  gap: 32px;
}
.nav-menu > ul {
  list-style: none;
}
.nav-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-size: 1rem;
  font-weight: 500;
}
.nav-btn {
  width: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 12px 16px;
  border: none;
  border-radius: 10000px;
  background: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
}
.nav-btn > p {
  color: rgba(255, 255, 255, 1);
  font-size: 1rem;
  font-weight: 600;
}

.hamburger-icon {
  display: none;
}

@media screen and (max-width: 576px) {
  .nav-container {
    width: 90%;
  }
  .hamburger-icon {
    display: inline;
  }
  .nav-menu {
    display: none;
  }
  .nav-btn {
    display: none;
  }
}

@media screen and (min-width:576px) and (max-width:992px) {
    .nav-menu>ul {
        gap:12px;
    }
}
